# Defaults - https://pnpm.io/npmrc#public-hoist-pattern
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
# Hoist jest-environment-jsdom to fix react-scripts jest@27.x incorrectly resolving jest-environment-jsdom@28.x
public-hoist-pattern[]=jest-environment-jsdom
# No-hoist nest & mikroorm - otherwise tests fail
